body {
  display:flexbox;
  background-color: ghostwhite;
  color:#00008b;
  font-family: 'Lucida Grande';
  font-size: 18px;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: center;
}

p {
  max-width: 200px;
}

.bookmark{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookmark form#bookmarkForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: darkblue;
  color: white;
  min-width: 100px;
  max-width: 125px;
  margin-right: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 150px;
  max-height: 100;
}

select {
  background-color: darkblue;
  color: white;
}

button, select {
  cursor: pointer;
}

#new-bookmark {
  margin: 10px;
}

#filter {
  margin: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li.js-bookmark-item-expanded {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  border: solid 1px darkblue;
  border-radius: .5em;
}

li.js-bookmark-item {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

li span.title{
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 16px;
}

li span.rating{
  font-size: 14px;
}

button.js-cancel{
  align-self: flex-start;
}

.bookmark-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  body {
    background-color: darkblue;
    color: ghostwhite;
  }

  li.js-bookmark-item-expanded {
    border: solid 1px ghostwhite;
  }

  button, select {
    background-color: ghostwhite;
    color: darkblue;
  }
}

@media screen and (min-width: 1024px) {
  li {
    width: 500px;
  }

  img {
    max-width: 300px;
    max-height: 200px;
  }

  p {
    margin: 10px;
    max-width: 500px;
  }
}